main {
    height: calc(100vh - 4em);
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#stdout {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: end;
}
article {
    display: flex;
    justify-content: start;
    padding-left: 1em;
}
article span {
    opacity: 0.7;
    width: 0.5em;
    margin-right: 0.5em;
}
#stdout article.incomplete { border-left: 1.9px solid rgba(255,255,255,0.3); padding-left: calc(1em - 1.9px); }
#stdout article.query { color: var(--text-secondary); margin-top: 1em; }
#stdout article.query.incomplete { padding-top: 1em; margin-top: 0em; }
#stdout article.info { color: var(--text-primary); }
#stdout article.error { color: var(--text-error); }
#stdout article td { padding: 0 1em 0 0; }

#stdin {
    height: 2em;
    margin-top: 1em;
}
#stdin input {
    color: var(--text-stdin);
    width: 0em;
    padding-right: 0em;
    border-right: solid 7px var(--text-cursor);
}
#stdin article { color: var(--text-stdin); }