:root {
    --bg-primary: #020202;

    --text-primary: #00FF41;
    --text-secondary: #22ffe1;
    --text-error: #FF2233;
    --text-stdin: #EEBBEE;
    --text-cursor: #777777;
}

html {
    all: unset;
    font-family: monospace;
    cursor: crosshair;
}

body {
    margin: 0;
    background-color: var(--bg-primary);
    padding: 1em;
}

p {
    margin: 0;
}